mixin radio(options)
  -
    const {
      name, 
      values = {
        man: "Мужчина",
        woman: "Женщина",
      },
    } = options;
  each text, key in values
    label(class = "custom-radio") 
      input(type = "radio", name = name)
      span(class = "custom-radio__model")
      div(class = "custom-radio__label")= text
