mixin rate-button(options)
  - const { name, rate } = options;

  div(class = "rate-button")
    - for (let i = 0; i < 5; i++)
      label(for = `${name}-${i + 1}`, data-rate = i + 1)
        span(class = "inactive")
          include icons/rate.svg
        span(class = "active")
          include icons/rate_filled.svg
      input(type = "radio", name = name, id = `${name}-${i + 1}`, value = i + 1, checked = i + 1 === rate)
