@import "../../assets/styles/variables";

.radio-buttons {
  label {
    display: inline-flex;
    height: 20px;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  * + label {
    margin-left: 20px;
  }

  input {
    display: none;
  }

  input:checked ~ .model::after {
    display: block;
  }

  .model {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $dark25;
    margin-right: 15px;

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $purple;
    }
  }
}
