@import "../../assets/styles/variables";

@mixin pretty {
  height: 44px;
  padding: 0 20px;
  border-radius: 50px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    transform: translate(1px, 1px);
  }

  &_filled {
    @include pretty;
    border: none;
    color: #fff;
  }
  &_filled.button_main {
    background: linear-gradient($purple, $purple-alt);
  }
  &_filled.button_alt {
    background: linear-gradient($green, $green-alt);
  }

  &_void {
    @include pretty;
    border-width: 2px;
    border-style: solid;
    background: none;
  }
  &_void.button_main {
    border-color: $purple;
    color: $purple;
  }
  &_void.button_alt {
    border-color: $green;
    color: $green;
  }

  &_flat {
    color: $purple;
    border: none;
    background: none;
  }
  
  &_controller {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  &_with-arrow {
    position: relative;
    padding: 0 40px;
    width: 100%;

    svg {
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &.button_void,
    &.button_flat {
      &.button_main {
        svg path {
          fill: $purple;
        }
      }
      &.button_alt {
        svg path {
          fill: $green;
        }
      }
       
    }
  }
}