include components/button/button
include components/checkbox/checkbox

doctype html
html(lang="en")
  head
    include includes/head-content
    title Metalamp
  body 
    h1 Some title
    
    +checkbox({class: "checkbox"})
    +button({text: "Some button", mode: "fill", color: "main"})
    +button({text: "Some button", mode: "void", color: "main"})
    +button({text: "Some button", mode: "flat", color: "main"})
    +button({content: "arrow-left", mode: "fill", color: "main"})
    +button({content: "arrow-right", mode: "fill", color: "alt"})
    +button({content: "with-arrow", text: "перейти к оплате", mode: "fill", color: "alt"})
    +button({content: "with-arrow", text: "перейти к оплате", mode: "flat", color: "main"})
    +button({content: "with-arrow", text: "перейти к оплате", mode: "void", color: "main"})

    include includes/body-scripts