include components/checkbox-buttons/checkbox-buttons
include components/custom-button/custom-button
include components/dropdown/dropdown
include components/like-button/like-button
include components/masked-textfield/masked-textfield
include components/pagination/pagination
include components/radio-buttons/radio-buttons
include components/range-slider/range-slider
include components/rate-button/rate-button
include components/subscription/subscription
include components/textfield/textfield
include components/toggle/toggle

doctype html
html(lang="en")
  head
    include includes/head-content
    title Metalamp
  body 
    div(style = { width: "256px"})
      //- Ready
      //- div 
      //-   h3 checkbox-buttons
      //-   +checkbox-buttons(
      //-     { label: "Allowed to smoke inside", name: "smoking" },
      //-     { label: "Allowed to drink inside", name: "drinking" },
      //-     { label: "Allowed to gamble inside", name: "gambling" },
      //-     )

      //- Ready
      //- div 
      //-   h3 custom-button
      //-   +custom-button({text: "Some button", mode: "fill", color: "main"})
      //-   +custom-button({text: "Some button", mode: "void", color: "main"})
      //-   +custom-button({text: "Some button", mode: "flat", color: "main"})
      //-   +custom-button({content: "arrow-left", mode: "fill", color: "main"})
      //-   +custom-button({content: "arrow-right", mode: "fill", color: "alt"})
      //-   +custom-button({content: "with-arrow", text: "перейти к оплате", mode: "fill", color: "alt"})
      //-   +custom-button({content: "with-arrow", text: "перейти к оплате", mode: "flat", color: "main"})
      //-   +custom-button({content: "with-arrow", text: "перейти к оплате", mode: "void", color: "main"})

      //- Ready
      //- div 
      //-   h3 Dropdown
      //-   +dropdown({
      //-     placeholder: "Сколько комнат",
      //-     type: "rooms",
      //-     collapsed: true,
      //-     id: 1
      //-   })
      //-   +dropdown({
      //-     placeholder: "Сколько гостей",
      //-     type: "guests",
      //-     collapsed: false,
      //-     id: 2
      //-   })

      //- Ready
      //- div 
      //-   h3 like-button 
      //-   +like-button({ amount: 30, })
      //-   +like-button({ amount: 10, })
      
      //- Ready
      //- div 
      //-   h3 masked-textfield 
      //-   +masked-textfield({ name: "date", placeholder: "ДД-ММ-ГГГГ", mask: "dd-mm-yyyy" })
      //-   +masked-textfield({ name: "date", placeholder: "ДД-ММ-ГГГГ", mask: "dd-mm-yyyy" })

      //- Ready
      //- div
      //-   h3 radio-buttons
      //-   +radio-buttons({values: { man: "Мужчина", woman: "Женщина" }, name: "gender"})
      //-   +radio-buttons({values: { agree: "Да", disagree: "Нет", refrain: "Эмм..." }, name: "agreement"})

      div 
        h3 Range 
        +range({ title: "Range slider", name: "someCosts", currency: "rub" })

      //- Ready
      //- div 
      //-   h3 rate-button 
      //-   +rate-button({ name: "rate1", rate: 4 })
      //-   +rate-button({ name: "rate2", rate: 2 })

      //- Ready
      //- div 
      //-   h3 subscription
      //-   +subscription({value: "", placeholder: "Email"})
      
      //- Ready
      //- div 
      //-   h3 textfield 
      //-   +textfield({ name: "Email", placeholder: "Email" })

      //- Ready
      //- div
      //-   h3 toggle
      //-   div
      //-     +toggle({ name: "extra", label: "Получать спецпредложения" })
      //-     +toggle({ name: "extraOther", label: "Получать заказы доставкой до двери" })

    include includes/body-scripts