@import url("components/button/button.scss");
@import url("components/checkbox/checkbox.scss");

:root {
  --dark: #1f2041;
  --dark75: rgba(31, 32, 65, 0.75);
  --dark50: rgba(31, 32, 65, 0.5);
  --dark25:rgba(31, 32, 65, 0.25);
  --dark5: rgba(31, 32, 65, 0.05);
  --purple: #bc9cff;
  --green: #6fcf97;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark75);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--dark);
}
