@import '../../assets/styles/variables';

.masked-textfield {
  input {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: $border-radius;
    padding: 0 15px;
    outline: none;

    &::placeholder {
      color: $dark25;
    }

    &:hover {
      border-color: $dark50;
    }
    &:focus {
      border-color: $dark50;
    }
  }
}