@import "./variables";

@import url("../../components/button/button.scss");
@import url("../../components/checkbox/checkbox.scss");
@import url("../../components/input/input.scss");
@import url("../../components/radio/radio.scss");
@import url("../../components/toggle/toggle.scss");
@import url("../../components/rate/rate.scss");
@import url("../../components/like/like.scss");

html {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $dark;
}
