@import "./variables";

@import url("../../components/custom-button/custom-button.scss");
@import url("../../components/checkbox-buttons/checkbox-buttons.scss");
@import url("../../components/like-button/like-button.scss");
@import url("../../components/masked-textfield/masked-textfield.scss");
@import url("../../components/pagination/pagination.scss");
@import url("../../components/radio-buttons/radio-buttons.scss");
@import url("../../components/range-slider/range-slider.scss");
@import url("../../components/rate-button/rate-button.scss");
@import url("../../components/subscription/subscription.scss");
@import url("../../components/textfield/textfield.scss");
@import url("../../components/toggle/toggle.scss");

html {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $dark;
}
